.add-lost-pet{
  max-height: 100%;
  height: 100%;
  .group{
    border-radius: 0px;
    border:none;
    overflow: visible !important;
    margin-left: 5px;
    float: left;
    margin-bottom: 6px;
  }
  .group-button{
    border-radius: 50%;
    border-left: none !important;
    margin-right: 3px;
  }

  .group-error{ 
    margin-left: 5px !important; 
    font-size: 10px;
  }

  .form-style{
    width: 180px !important;
    float: left;
    clear: left;
    font-size: 13px;
  }

  .mat-dialog-title{
    margin: 0 0 8px;
    text-align: center;
    color: #673ab7;
  }
  .mat-button-toggle{
    padding: 2px;
    transition: all ease-in-out 300ms;
  }
  .mat-button-toggle-checked{
    background-color: #673ab7;
  }
  .select-png-icon{
    border-radius: 50%;
    width: 40px;
    height: 40px;
    background-color: white;
  }
  .whats-png-icon{
    width: 24px;
    height: 24px;
    background-color: white;
    display:inline;
  }
  .color-png-icon{
    border-radius: 50%;
    width: 30px;
    height: 30px;
    background-color: white;
  }

  #fur-color{
   margin-left: 5px;
  }

  .border-on{
    word-wrap: break-word;
    border:solid 1px rgba(0,0,0,.42);
  }
  .mat-input-element::placeholder {
    color: black;
  }

  .description-field{
    width: 100%;
    padding: 5px;
    margin: 8px 0 10px 0;
    font-size: 13px;
    border-radius: 4px;
    box-sizing: border-box;
    min-height: 60px;
    &::placeholder{
      color: black;
    }
  }
  .map-label {
    display: block;
    margin-bottom: 8px;
    font-size: 13px;
  }


  .select-local{  
    box-sizing: border-box;
    width: 350px;
    height: 30px;
    float: left;
    background: #FFF;
    border-radius: 4px;
    border:solid 1px rgba(0,0,0,.42);
    font-size: 14px;
    z-index:3;
    left: 10px !important;
    top: 5px !important;
  }
  .map-location {
    position: relative;
    width: 100%;
    height: 165px;
    z-index:2;
  }

  .actions{
    min-height: 20px !important;
    margin-bottom: 0px !important;
    display: block;
  }
  .button{
    float: right;
    margin: 5px 0 0 8px;
  }
  .form-left {
    width: 45%;
  }
  .form-right {
    width: 55%;
  }
  .form-left, .form-right {
    display: inline-grid;
  }
}

@media only screen and (max-width : 630px) {
  .add-lost-pet {
    .mat-dialog-title {
      font-size: 16px;
    }
    .group, #fur-color {
      margin-left: 0;
    }
    .group-button {
      margin-right: 1px;
    }
    .color-png-icon{
      width: 24px;
      height: 24px;
    }
    .form-left, .form-right {
      width: 100%;
    }
    .description-field {
      min-height: 75px;
    }
  }
}
