<div class="home">

  <!-- Search local-->
  <div class="search-container">
    <div class="search-local">

      <img style="cursor: pointer; "src="../assets/logo.png" alt="Cade meu pet?" matTooltip="Clique para mostrar/esconder o menu" (click)="showHiddenSearchMenu()"  />

      <form [formGroup]="formLocal" >
        <mat-form-field class="search-field">
          <input matInput placeholder="Clique no logo ou busque  o pet pelo local" #search formControlName="searchValue" matTooltip="Pesquise aqui o pet pelo local">

          <button mat-button mat-icon-button  matSuffix matTooltip="Pesquisar"  aria-label="Search" >
            <mat-icon>search</mat-icon>
          </button>

          <button mat-button mat-icon-button *ngIf="formLocal.value.searchValue" matSuffix  matTooltip="Limpar campos"  aria-label="Clear" (click)="clearLocal()">
            <mat-icon>close</mat-icon>
          </button>
        </mat-form-field>
      </form>
    </div>
  </div>

  <!-- Search filter-->
  <div class="filter-container" >

    <div class="filter-option-group" *ngIf="showFilters">
      <form [formGroup]="formFilter">

        <!-- Type selection-->
  	    <div class="filter-option">
          <label>Perdido ou encontrado?</label>
          <mat-radio-group class="type" formControlName="type">
            <mat-radio-button checked >Todos</mat-radio-button>
            <mat-radio-button value="true">Perdido</mat-radio-button>
            <mat-radio-button value="false">Encontrado</mat-radio-button>
          </mat-radio-group>
  	    </div>

        <!-- Only my posts selection-->

        <div class="filter-option">
          <label>Filtrar posts:</label>
          <mat-radio-group class="only-my" formControlName="myPosts">
            <mat-radio-button checked >Todos</mat-radio-button>
            <mat-radio-button value="true">Somente meus posts</mat-radio-button>
          </mat-radio-group>
        </div>

        <div class="label-together">
          <label>Espécie:</label>
          <label>Sexo:</label>
        </div>

        <div class="filter-together">
          <!-- Specie selection-->
          <mat-button-toggle-group class=specie #speciegroup="matButtonToggleGroup" formControlName="specie">
            <mat-button-toggle  checked matTooltip="Busco todos">
              <img  class="png-icon" src="../assets/icons/all.png">
            </mat-button-toggle>

            <mat-button-toggle value=0 matTooltip="Busco só cachorros">
              <img  class="png-icon" src="../assets/icons/blank.png">
            </mat-button-toggle>

            <mat-button-toggle value=1 matTooltip="Busco só gatos">
              <img  class="png-icon" src="../assets/icons/veia.png">
            </mat-button-toggle>
          </mat-button-toggle-group>

          <!-- Sex selection-->

          <mat-button-toggle-group class=sex #sexgroup="matButtonToggleGroup"  formControlName="sex">
            <mat-button-toggle  checked matTooltip="Busco todos">
              <img  class="png-icon" src="../assets/icons/all.png">
            </mat-button-toggle>
            <mat-button-toggle value=0 matTooltip="Busco só machos">
              <img  class="png-icon" src="../assets/icons/male.png">
            </mat-button-toggle>

            <mat-button-toggle value=1 matTooltip="Busco só fêmeas">
              <img  class="png-icon" src="../assets/icons/female.png">
            </mat-button-toggle>
          </mat-button-toggle-group>
        </div>

        <!-- Life stage selection-->
        <div class="filter-option">
          <label>Estágio de vida:</label>
          <mat-button-toggle-group class=life-stage #lifegroup="matButtonToggleGroup" formControlName="lifeStage">
            <mat-button-toggle  checked matTooltip="Busco todos">
               <img  class="png-icon" src="../assets/icons/all.png">
            </mat-button-toggle>
            <mat-button-toggle value=0  matTooltip="Busco filhotes">
               <img  class="png-icon" src="../assets/icons/puppy.png">
            </mat-button-toggle>

            <mat-button-toggle value=1 matTooltip="Busco adultos">
              <img  class="png-icon" src="../assets/icons/adult.png">
            </mat-button-toggle>

            <mat-button-toggle value=2 matTooltip="Busco idosos">
              <img  class="png-icon" src="../assets/icons/old.png">
            </mat-button-toggle>
          </mat-button-toggle-group>
        </div>

        <!-- Fur color selection-->
        <div class="filter-option">
          <label>Cor:</label>
          <mat-button-toggle-group class="fur-color" #colorgroup="matButtonToggleGroup" formControlName="furColor">
            <mat-button-toggle  checked matTooltip="Busco todas">
               <img  class="color-png-icon" src="../assets/icons/all.png">
            </mat-button-toggle>

            <mat-button-toggle value=0  matTooltip="A cor é parecida com branco">
              <img  class="color-png-icon" src="../assets/icons/dogbranco.png">
            </mat-button-toggle>
            <mat-button-toggle value=1 matTooltip="A cor dele é parecida com preto">
              <img  class="color-png-icon" src="../assets/icons/dogpreto.png">
            </mat-button-toggle>
            <mat-button-toggle value=2 matTooltip="A cor dele é parecida com preto e branco">
              <img  class="color-png-icon" src="../assets/icons/dogpretoebranco.png">
            </mat-button-toggle>
            <mat-button-toggle value=3 matTooltip="A cor dele é parecida com marrom/caramelo">
              <img  class="color-png-icon" src="../assets/icons/dogcaramelo.png">
            </mat-button-toggle>
            <mat-button-toggle value=4 matTooltip="A cor dele é parecida com cinza">
              <img  class="color-png-icon" src="../assets/icons/dogcinza.png">
            </mat-button-toggle>
            <mat-button-toggle value=5 matTooltip="A cor dele é parecida com malhado/listrado">
              <img  class="color-png-icon" src="../assets/icons/dogmalhado.png">
            </mat-button-toggle>
            <mat-button-toggle value=6 matTooltip="A cor dele tem bolinhas/manchinhas">
              <img  class="color-png-icon" src="../assets/icons/dogcombolinhas.png">
            </mat-button-toggle>
          </mat-button-toggle-group>
        </div>

        <!-- Description insertion-->
        <div class="filter-option">
          <mat-form-field class ="description">
            <input matInput formControlName="description" placeholder="Descrição procurada">
          </mat-form-field>
        </div>

        <!-- Date selection-->
        <div class="filter-option">
          <mat-form-field class="form-datePicker">

            <input matInput 
            [readonly]="formFilter.controls.checkedAllDates.value" 
            [matDatepicker]="picker" 
            formControlName="date" placeholder="Buscar pela data">
            
            <mat-datepicker-toggle matSuffix [disabled]="formFilter.controls.checkedAllDates.value"  [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
          <mat-checkbox formControlName="checkedAllDates" class ="date" #all >Todas as datas</mat-checkbox>
        </div>

        <div class="filter-option">
          <button mat-flat-button color="default" class="button-back" type="button" (click)="showHiddenSearchMenu()" >
            <mat-icon>keyboard_backspace</mat-icon>
          </button>
          <button mat-raised-button color="primary" class="button" type="submit" (click)="petSearch()" >Filtrar</button>
        </div>

      </form>
    </div>

    <!-- Pet results -->
    <mat-card *ngIf="searching && pets.length == 0" class="pet-list-empty">
        <span  >Não existem pets com esses filtros</span>
    </mat-card>

    <div class="search-results" *ngIf="pets.length > 0">

      <div *ngIf="!showSelectedResult">
        <mat-selection-list #petList  (selectionChange)="inSelectedResult($event,petList.selectedOptions.selected)" class="list-pets" >

          <mat-list-option  class="item-list-pets" *ngFor="let pet of pets" [value]='pet' matTooltip="Clique ver mais informações ou postar um comentário">
		        <h3 class="name-pet">{{pet.name}}</h3>

            <span mat-line class="specie-pet">{{pet.specie}}</span>
            <span mat-line class="sex-pet">{{pet.sex}}</span>

            <h3 mat-line *ngIf="pet!= undefined && pet.lostPet=='true'" class="date-pet-lost">Perdido dia: {{pet.date | date:'dd/MM/yyy'}}</h3>

            <h3 mat-line *ngIf="pet!= undefined && pet.lostPet=='false'" class="date-pet-found">Encontrado dia: {{pet.date | date:'dd/MM/yyy'}}</h3>

            <div class="description-pet">
              <h6 mat-line id="resultDescription">{{pet.description}}</h6>
            </div>

            <img class="img-pet" src="{{'data:image/png;base64,'+ pet.photo}}" />
          </mat-list-option >
        </mat-selection-list>
      </div>

      <!-- Selected result of search -->
      <div class="select-result" *ngIf="showSelectedResult">
        <mat-card class ="card-result" >
          <h3 mat-line id="resultName" class="name-pet-selected">""</h3>
          <h3 mat-line id="resultSpecie" class="specie-pet-selected">""</h3>
          <h3 mat-line id="resultSex" class="sex-pet-selected">""</h3>
          <h3 mat-line [class.date-pet-found]="classLostPet==false"
          [class.date-pet-lost]="classLostPet==true" id="resultDate"></h3>

          <div class="description-pet-selected">
           <h6 mat-line id="resultDescription"></h6>
          </div>

          <div class="img-pet-selected">
            <img id="resultPhoto"/>
          </div>

          <div class="msg-contact-user">
            <span>Viu esse pet? Ligue </span>
            <span id="resultWithWhats" ></span>
            <span> para o número </span>
            <span class ="msg-style" id="resultPhone">""</span>
            <span> e fale com </span>
            <span class ="msg-style" id="resultUserName" >""</span>
            <p><span>Ou você também pode mandar um comentário pelo botão abaixo. </span></p>
          </div>

          <div class="card-result-options">
            <button mat-icon-button class="delete" *ngIf=
            "petBelongsToUser" (click)="openDialogRemovePet()" matTooltip="Remover pet">
              <mat-icon>delete</mat-icon>
            </button>
            <button mat-icon-button class="edit" *ngIf="petBelongsToUser" (click)="openDialogPetEdition()" matTooltip="Editar">
              <mat-icon>edit</mat-icon>
            </button>
            <button mat-icon-button class="comment" (click)="openDialogComment()" matTooltip="Clique para postar um comentário">
              <mat-icon>chat_bubble_outline</mat-icon>
            </button>
            <button mat-icon-button class="back" (click)="hiddenSelectedResult()" matTooltip="Voltar">
              <mat-icon>arrow_back</mat-icon>
            </button>
          </div>
        </mat-card > 
      </div>
      <button mat-icon-button color="default" class="button-back" type="button" (click)="showHiddenSearchMenu()" >
        <mat-icon>keyboard_backspace</mat-icon> Esconder menu
      </button>
    </div>
  </div>

  <!-- Login -->
  <div *ngIf="this.cookieService.get('logged') != 'true'">
    <button mat-icon-button class="login-button login" (click)="openDialogLogin()">
      <mat-icon>person</mat-icon>
      <span>Login</span>
    </button>
  </div>

  <!-- Logout -->
  <div *ngIf="this.cookieService.get('logged') == 'true'">
    <button mat-icon-button class="logout-button logout" (click)="logoutUser()">
      <mat-icon>person</mat-icon>
      <span>Logout</span>
    </button>
  </div>

  <!-- Notification of comment -->
  <div *ngIf="this.cookieService.get('logged')=='true'">
    <button mat-icon-button class="notification-button notification" (click)="getNotifications()">
      <mat-icon>notification_important</mat-icon>
      <span>Notificações</span>
    </button>
  </div>

  <div class="notification-list" *ngIf="showNotifications">
    <div class="card-list" >

    <mat-card class="notification-card" *ngFor="let notif of notifications" >
      <mat-card-content >
       <p> O <b>{{notif.specie}} {{notif.name}}</b> que foi <b>{{notif.lostPet == "true" ? "perdido" : "encontrado"}} em {{notif.date | date:'dd/MM/yyy'}} </b> recebeu um comentário! *0* </p>
       <p> <b>{{notif.userName}}</b> comentou na postagem: </p>
       <br />
       <p>{{notif.comment}}</p>  
       <br />
       <p *ngIf="notif.link !- ''">Link: {{notif.link}}</p>

       O telefone de contato de <b>{{notif.userName}}</b> é: <b>{{notif.userPhone}}</b> e <b>{{notif.userPhoneWithWhats == "true" ? "possui" : "não possui"}}</b> whats.
      </mat-card-content>

      <button class="notification-delete" *ngIf="this.cookieService.get('userName') != 'Admin geral'" mat-icon-button (click)="deleteNotification(notif.id)"  matTooltip="Remova uma notificação">
        <mat-icon >delete</mat-icon>  
      </button>

    </mat-card>
    </div>
  </div>

  <!-- Plus button -->
  <mat-menu #appMenu="matMenu" yPosition="above" class="plus-menu">
    <button mat-menu-item (click)="openDialogLostPet()" >
      <mat-icon>add</mat-icon>
      <span>Cadastre um pet perdido</span>
    </button>
    
    <button mat-menu-item (click)="openDialogFoundPet()">
      <mat-icon>add</mat-icon>
      <span>Cadastre um pet encontrado</span>
    </button> 
  </mat-menu>

  <button id="plus" [matMenuTriggerFor]="appMenu" mat-fab color="accent" class="plus-menu-button" matTooltip="Cadastre um pet" #tooltip="matTooltip"> 
    <mat-icon>add</mat-icon>
  </button>  

  <!-- Mapa -->
  <agm-map  [latitude]="lat" [longitude]="lng" [zoom]="zoom" [zoomControlOptions]="zoomControlOptions">
    <agm-overlay *ngFor="let pet of pets" [latitude]="pet.latitude" [longitude]="pet.longitude" (markerClick) = "inSelectedResult($event,pet)"> 
      <div >
        <img *ngIf="pet.lostPet == 'true'" class = "png-icon-lost-map"  
          src="{{'data:image/png;base64,'+ pet.photo}}" />

        <img *ngIf="pet.lostPet == 'false'" class = "png-icon-found-map"  
          src="{{'data:image/png;base64,'+ pet.photo}}" /> 
      </div> 
    </agm-overlay> 
  </agm-map> 

  <!-- Losts/Founds -->
  <mat-card class="footer-info">
    <div>Por enquanto temos {{this.petTotal}} cadastros no site</div>
    <div>
      0 pets já encontraram suas casas!
      <button class=footer-icon mat-icon-button color="warn">
        <mat-icon>favorite</mat-icon>
      </button>
    </div>
  </mat-card>

  <!-- Loader -->
  <div *ngIf="appLoading">
    <div class="loader">
      <div class="lds-ellipsis"><div></div><div></div><div></div><div></div></div>
    </div>
  </div>

</div>

<router-outlet></router-outlet>
