
<div mat-dialog-content class = "register-new-password" id="content">
  <form [formGroup]="formRegister" >
    <h2 mat-dialog-title>Cadastre a nova senha</h2>  
    
    <!-- Email insertion-->
    <mat-form-field class="form-style">
      <input matInput formControlName="email" required placeholder="Seu email">

      <mat-error *ngIf="formRegister.controls.email.invalid">{{getEmailErrorMessage()}}</mat-error>
    </mat-form-field>

    <!-- Phone insertion-->
    <mat-form-field class="form-style">
      <input matInput formControlName="phone" placeholder="Telefone c/ DDD" required>
       <mat-error *ngIf="formRegister.controls.email.invalid">{{getPhoneErrorMessage()}}</mat-error>

    </mat-form-field> 

    <!-- Password insertion-->
    <mat-form-field class="form-style">
      <input type="password" matInput formControlName="newPassword" required placeholder="Nova senha">

      <mat-error *ngIf="formRegister.controls.phone.invalid">{{getPassErrorMessage()}}</mat-error>
    </mat-form-field>

    <br />
    <!-- Password confirmation-->
    <mat-form-field class="form-style">
      <input type="password" matInput formControlName="confirmPassword" required placeholder="Confirmar nova senha">

      <mat-error *ngIf="formRegister.controls.phone.invalid">{{getConfirmPasswordErrorMessage()}}</mat-error>
    </mat-form-field>

    <br />
    <div mat-dialog-actions class="actions">
      <button mat-raised-button color="primary" class=button type="submit" (click)="registerNewPassword()">Cadastrar</button>
      <button mat-raised-button class="button" (click)="close()">Cancelar</button>
    </div>
  </form>
</div>
