<div mat-dialog-content class= "comment"> 
  <form [formGroup]="formComment" >
    <h4 mat-dialog-title>Comentário</h4>

    <!-- Name insertion-->
    <mat-form-field  class="form-style">
      <input matInput formControlName="name" required placeholder="Nome">

      <mat-error *ngIf="formComment.controls.name.invalid">{{getNameErrorMessage()}}</mat-error>
    </mat-form-field>

    <!-- Date selection-->
    <mat-form-field class="form-style">
      <input matInput [matDatepicker]="picker" [formControl]="date" placeholder="Data" >
      <mat-datepicker-toggle matSuffix [for]="picker" matTooltip="Selecione a data"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>

    <!-- Phone insertion-->
    <mat-form-field class="form-style">
      <input matInput formControlName="phone" placeholder="Telefone c/ DDD" required>

      <mat-error *ngIf="formComment.controls.phone.invalid">{{getPhoneErrorMessage()}}</mat-error>

      <mat-button-toggle matSuffix matTooltip="Marque se o telefone possui whats">
         <mat-slide-toggle formControlName="phoneWithWhats" color="warn" ></mat-slide-toggle>
      </mat-button-toggle>
      <img  matSuffix class="whats-png-icon" src="../assets/icons/whats.png">
      
    </mat-form-field>
    
    <!-- Link insertion-->
    <mat-form-field  class="form-style" id=link>
      <input matInput type="url" placeholder="Tem um link sobre o pet? Cole aqui" formControlName="link">
    </mat-form-field>

    <!-- Comment insertion-->
    <mat-form-field class ="comment">
      <textarea matInput rows="4" cols="60" maxlength="254" wrap="hard" class ="border-on" formControlName="comment" placeholder="Viu esse pet? Descreva aqui :)"></textarea>
      

      <mat-error *ngIf="formComment.controls.phone.invalid">{{getCommentErrorMessage()}}</mat-error>
    </mat-form-field>

    <div mat-dialog-actions class="actions">
      <button mat-raised-button color="primary" class=button type="submit"  (click)="addComment()">Comentar</button>
      <button mat-raised-button class="button" (click)="close()">Cancelar</button>
    </div>
  </form>
</div>
